<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/reports/404.htm" responseMode="ExecuteURL" />
        </httpErrors>
        <directoryBrowse enabled="false" />
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <remove name="X-Aspnet-Version" />
                <remove name="X-AspnetMvc-Version" />
                <add name="Strict-Transport-Security" value="max-age=63072000; includeSubDomains; preload" />
                <add name="Content-Security-Policy" value="*.ncr.com" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Pragma" value="no-cache" />
                <add name="X-Aspnet-Version" value="Secret" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="SecSciAutoPT" value="Automation" />
                <add name="Cache-Control" value="private" />
                <add name="Referer" value="https://burppt.gsre.ncr.com" />
                <add name="Access-Control-Allow-Origin" value="https://burppt.gsre.ncr.com" />
                <add name="Vary" value="Origin" />
                <add name="Access-Control-Allow-Methods" value="POST" />
                <add name="Origin" value="https://burppt.gsre.ncr.com" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering removeServerHeader="true">
                <verbs>
                    <add verb="POST" allowed="true" />
                    <add verb="GET" allowed="true" />
                    <add verb="DEBUG" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
        <handlers>
            <remove name="PageHandlerFactory-Integrated-4.0" />
            <remove name="PageHandlerFactory-Integrated" />
            <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="PageHandlerFactory-Integrated-4.0" path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".burp" mimeType="application/burp" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="ireports.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <httpCookies sameSite="None" requireSSL="true" />
        <!-- <httpRuntime requestValidationMode="2.0" /> -->
        <httpRuntime enableVersionHeader="false" />
        <customErrors mode="RemoteOnly" defaultRedirect="/reports/ireports.aspx" />
        <authentication mode="Windows" />
        <!-- <compilation>
            <assemblies>
                <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </assemblies>
        </compilation>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
            </namespaces>
        </pages> -->
        <!-- <pages enableViewStateMac="false" viewStateEncryptionMode="Always" /> -->
    </system.web>
    <!-- <appSettings>
        <add key="aspnet:AllowInsecureDeserialization" value="true" />
        <add key="aspnet:AlwaysIgnoreViewStateValidationErrors" value="true" />
    </appSettings> -->
</configuration>
